:root {
    font-size: 13px;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: arial,sans-serif;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

.navbar>li {
    margin-left: 1em;
    display: flex;
    align-items: center;
}

.navbar>li>a {
    display: block;
    text-decoration: none;
    color: #000;
}

.navbar>li>a:hover {
    text-decoration: underline;
}

.dots-dropdown {
    padding-left: 1em;
}

.dots-dropdown>a {
    border-radius: 50%;
    width: 3.2em;
    height: 3.2em;
    text-align: center;
    display: block;
    position: relative;
}

.dots-dropdown>a:hover {
    background-color: #eee;
}

.gh-profile>a {
    position: relative;
    width: 3.2em;
    height: 3.2em;
    text-align: center;
}

.gh-profile:hover {
    background-color: #eee;
    border-radius: 50%;
}

.gh-img {
    width: 2.5em;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.grid {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    height : 1.2em;
    width : 1.2em;
}

.grid>div {
    border-radius: 50%;
    background:#000;
    opacity: 60%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
}

.logo {
    width: 275px;
    margin-bottom: 1.5em;
}

.search-form {
    border: 1.1px solid #ddd;
    border-radius: 2em;
    width: 80%;
    max-width: 580px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
    padding: .5em 1em;
}

.search-form:hover,
.search-form:focus {
    box-shadow: 0px 1.5px 5px 1px rgba(0, 0, 0, 0.125);
}

.search-space {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1.2rem;
    height: 2.5rem;
}

.search-icon {
    opacity: 0.6;
}

.search-form-buttons>input {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: .25em;
    padding: .8rem 2rem;
    color: rgba(0, 0, 0, 0.85);
    margin: 2px 5px;
    cursor: pointer;
}

.search-form-buttons>input:hover {
    border: 1px solid #ccc;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

footer {   
    background-color: #f2f2f2;
    color: #70757a;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.footer {
    display: flex;
    list-style: none;
    padding: 0 1.5em;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
}

.footer-left,
.footer-right {
    display: flex;
}

.footer li {
    padding: 1em;
}

.footer li>a {
    text-decoration: none;
    color: inherit;
}

.footer li>a:hover {
    text-decoration: underline;
}

@media (max-width: 610px) {
    .footer {
        justify-content: center;
    }
}